<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187848207220-i89qg73tom7bu0ha6ktiltk01lsv9qvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187848207220-i89qg73tom7bu0ha6ktiltk01lsv9qvc</string>
	<key>API_KEY</key>
	<string>AIzaSyDNe-rQWDG1RSbJuB_497DJGvjla7Ccj_Y</string>
	<key>GCM_SENDER_ID</key>
	<string>187848207220</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.petCare</string>
	<key>PROJECT_ID</key>
	<string>love-of-care</string>
	<key>STORAGE_BUCKET</key>
	<string>love-of-care.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187848207220:ios:81757e4793900dbc109a21</string>
</dict>
</plist>